apiVersion: apps/v1beta2
kind: Deployment
metadata:
  labels:
    app: tamboot-xxljob-admin
    tier: middleware
  name: tamboot-xxljob-admin
  namespace: middleware
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tamboot-xxljob-admin
  template:
    metadata:
      labels:
        app: tamboot-xxljob-admin
    spec:
      containers:
      - command:
        - java
        - '-Xms64m'
        - '-Xmx256m'
        - '-jar'
        - app.jar
        env:
        - name: LANG
          value: C.UTF-8
        - name: JAVA_HOME
          value: /usr/lib/jvm/java-1.8-openjdk
        image: >-
          registry-vpc.cn-shenzhen.aliyuncs.com/registry_tam/tamboot-xxljob-admin:1.0.0-SNAPSHOT
        imagePullPolicy: Always
        name: tamboot-xxljob-admin
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /tmp
          name: volume-tmp
        - mountPath: /usr/local/app/config
          name: volume-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir: {}
        name: volume-tmp
      - configMap:
          defaultMode: 420
          name: tamboot-xxljob-admin-config
        name: volume-config

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/alicloud-loadbalancer-address-type: intranet
    service.beta.kubernetes.io/alicloud-loadbalancer-force-override-listeners: 'true'
    service.beta.kubernetes.io/alicloud-loadbalancer-id: lb-wz9tp13tav4ecl4fbnnfc
  name: tamboot-xxljob-admin-service
  namespace: middleware
spec:
  ports:
  - name: http
    port: 8989
    protocol: TCP
    targetPort: 8989
  selector:
    app: tamboot-xxljob-admin
  sessionAffinity: None
  type: LoadBalancer
